{{ partial "header.html" . }}
   <article class="article-content">
      <span class="article-info">
          {{ if not .Site.Params.hideReadingTime }}
          <strong>{{ .ReadingTime }} minute read</strong> &middot;{{ end }}
          {{ if .Site.DisqusShortname }}
          <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}
          {{ if isset .Params "tags" }}
          &middot;
          {{ range .Params.tags }}<a class="label" href="{{ "/tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>{{ end }}
          {{ end }}
      </span>
      {{ .Content }}
      <br/>
      {{ partial "disqus_embed.html" .}}
   </article>
{{ partial "footer.html" . }}
