{{ partial "header.html" . }}

<div id="post-index" class="container">
    {{ partial "intro.html" . }}
        <h1>Tags</h1>
    {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{ if eq "tags" $taxonomyname }}
            <ol class="post-list">
                {{ range $key, $value := $taxonomy }}
                <div class="post-footer clearfix">
                    <li class="post-tags">
                        <a href="{{ "/tags/" | absURL }}{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
                    </li>
                </div>
                {{ end }}
            </ol>
        {{ end }}
    {{ end }}
</div>

{{ partial "footer.html" . }}
