{{ partial "head" . }}
<body class="post-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
	    <article class="post">
	        <header>
	        <h1 class="post-title">{{ .Title }}</h1>

	        <section class="post-content">
                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                    {{ if eq "tags" $taxonomyname }}
                        <ul class="post-tags" style="padding-bottom:60px;">
                            {{ range $key, $value := $taxonomy }}
                                <li class="post-meta tags" style="text-align:left;">
                                    <i class="fa fa-fw fa-tag"></i>
                                    <a href="{{ "/tags/" | absURL }}{{ $key | urlize }}">{{ $key }}</a> ({{ len $value }})
                                </li>
                            {{ end }}
                        </ul>
                    {{ end }}
                {{ end }}
	        </section>
	    </article>
	</main>

    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>