/* Reset */
html {
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Lora", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: inherit;
  color: #333;
}

html,
body {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: #8bc34a;
  text-decoration: none;
  transition-duration: .2s;
}

a:hover,
a:focus,
a:active {
  color: #7cb342;
}

ul, ol {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5 ,h6 {
  margin: 0;
  font-size: 1rem;
  word-break: break-all;
  font-weight: normal;
  color: #000;
}

/* Override */
.container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 .5rem;
}

.container.wide {
  max-width: 60rem;
}

/* Layouts */
main {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
  border-bottom: 1px solid #eee;
  padding: 2rem 0;
}

.l-header {
  position: relative;
  padding: 1rem 0;
}

.l-header::after {
  content: '';
  display: block;
  clear: both;
}

.l-footer {
  line-height: 150%;
  text-align: center;
  font-size: .7rem;
  padding: 1rem 0;
  color: #ccc;
}

.l-footer a {
  color: #999;
}

/* Parts:button */
.button-social {
    margin: 0 0 0 10px;
    padding: 4px 8px 4px;
    float: middle;
    line-height: 200%
}

.button-social:hover {
     color: #303030;
}

/* Parts:banner */
.p-banner {
  text-align: center;
  margin: 1rem 0;
}

/* Parts:page-title */
.p-page-title {
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

/* Parts:crumb */
.p-crumb {
  padding: .75rem 0;
  border-top: 1px solid #eee;
}

.p-crumb ol {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  line-height: .6rem;
  font-size: .6rem;
}

.p-crumb li {
  display: inline-block;
  color: #ccc;
}

.p-crumb li::after {
  content: '/';
  margin: 0 .5rem;
  font-weight: 100;
}

.p-crumb li:last-child::after {
  content: '';
}

.p-crumb span {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

/* Parts:logo */
.p-logo {
  text-align: center;
  float: left;
  margin-right: 2rem;
}

@media (max-width: 768px) {
  .p-logo {
    float: none;
    margin-right: 0;
  }
}

.p-logo a {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

/* Parts:sections */
.p-sections {
  list-style: none;
  float: right;
}

@media (max-width: 768px) {
  .p-sections {
    float: none;
    text-align: center;
    padding-top: 1rem;
  }
}

.p-sections li {
  display: inline-block;
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .p-sections li {
    margin-left: 0;
    margin: 0 .5rem;
  }
}

.p-sections a {
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

#sections-toggle:checked+.p-sections {
  display: block;
}

/* Parts:terms */
.p-terms {
  list-style: none;
  margin: 2rem 0;
}

.p-terms li {
  display: inline-block;
  margin-right: .5rem;
}

/* Parts:tags */
.p-tags {
  margin-bottom: 2rem;
}

.p-tags a {
  display: inline-block;
  margin-right: .5rem;
  color: #999;
  font-size: .6rem;
  font-weight: 700;
  background-color: #f5f5f5;
  padding: 0 .5rem;
  line-height: 1.5rem;
}

/* Parts:adj */
.p-adj header {
  font-weight: 700;
  text-transform: uppercase;
  font-size: .6rem;
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
}

.p-adj div {
  margin-bottom: 1rem;
}

.p-adj .prev::before { content: 'Previous Article'; }
.p-adj .next::before { content: 'Next Article'; }

.p-adj a {
  color: #999;
}

/* Article */
.p-articles {
  list-style: none;
}

article.single {
  margin-bottom: 2rem;
}

article.li {
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  article.li {
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 1rem;
  }
}

article .more {
  display: inline-block;
  background-color: #8bc34a;
  color: #fff;
  border-radius: 3px;
  line-height: 1.75rem;
  padding: 0 .75rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .6rem;
  font-family: 'Open Sans', sans-serif;
}

article .more:hover {
  background-color: #7cb342;
  text-decoration: none;
}

article .more::before {
  content: 'Read More';
}

article .detail {
  color: #ccc;
  font-size: .7rem;
  font-weight: 700;
  line-height: 1rem;
  font-family: 'Open Sans', sans-serif;
}

article .detail a {
  color: #999;
  text-transform: uppercase;
}

article .title {
  font-weight: 700;
  word-break: break-all;
  color: #000;
  margin-bottom: .5rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

article .title a {
  color: #000;
}

article.single .title {
  font-size: 1.4rem;
  line-height: 2rem;
}

article .summary {
  color: #999;
  font-size: .8rem;
  word-break: break-all;
  line-height: 1rem;
  margin-bottom: 1rem;
}

article.single>header {
  margin: 2rem 0 3rem 0;
}

article .body {
  margin-bottom: 2rem;
}

article .body a {
  text-decoration: underline;
}

article .body p {
  line-height: 1.5rem;
  margin: 1.5rem 0;
  /*word-break: break-all;*/
  word-break: normal;
}

article .body h1,
article .body h2,
article .body h3,
article .body h4,
article .body h5,
article .body h6 {
  font-weight: 700;
}

article .body h1:first-child,
article .body h2:first-child,
article .body h3:first-child,
article .body h4:first-child,
article .body h5:first-child,
article .body h6:first-child {
  margin-top: 0;
}

article .body h1,
article .body h2 {
  margin-top: 4rem;
  padding: .5rem 0;
  line-height: 1.5rem;
  font-size: 1.2rem;
}

article .body h3 {
  margin-top: 1.5rem;
}

article .body h4 {
  margin-top: 1rem;
  text-decoration: underline;
}

article .body blockquote {
  font-size: .8rem;
  padding: .5rem;
  border-left: none;
  margin: .5rem 0;
  background-color: #eee;
}

article .body blockquote p {
  line-height: 1rem;
  margin: 0;
}

article .body blockquote ul,
article .body blockquote ol {
  margin: 0;
  padding: 0;
  padding-left: 1.5rem;
}

article .body ul,
article .body ol {
  padding-left: 1.5rem;
  margin: 0;
  line-height: 1.5rem;
}

article .body amp-img {
  max-width: 100%;
  box-shadow: 0 0 0 .25rem #eee;
  margin: 1rem 0;

  display: block;
  width: auto;
}

article .body img {
    box-shadow: 0 0 0 .25rem #eee;
     max-width: 100%;
     display: block;
     width: auto;
     height: auto;
}

/*article .body pre {
  padding: .5rem;
  margin: 2rem 0;
  border: none;
  border-radius: 0;
  font-size: .8rem;
  line-height: 1rem;
  overflow: auto;
  background-color: #333;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}*/

/*article .body p code,
article .body li code {
  padding: .25rem;
  margin: 0 .25rem;
  font-size: .8rem;
  white-space: nowrap;
  line-height: 1rem;
  background-color: #eee;
}*/

nav.page {
  position: relative;
  margin-bottom: 2rem;
  min-height: 3rem;
}

nav.page a {
  position: absolute;
  display: inline-block;
  font-size: .8rem;
  font-weight: 700;
  line-height: 3rem;
  padding: 0 2rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 3px;
  color: #000;
}

nav.page a.next {
  right: 0;
}

.columns {
  display: table;
  width: 100%;
}

.column {
  display: table-cell;
}

@media (max-width: 768px) {
  .column {
    display: block;
  }
}

.h-hidden {
  display: none;
}
