<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ .Title }}</title>
		<meta name="viewport" content="width=device-width">
		{{ range .AlternativeOutputFormats -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/hybrid.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
		<link rel="stylesheet" href="{{ .Site.BaseURL }}css/colors-{{ .Site.Params.scheme | default "dark" }}.css">

		{{ partial "head.html" . }}
	</head>
	<body>
		<header id="header">
			<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
			<p>{{ .Site.Params.Description }}</p>
		</header>

		<div id="page">
			<div id="sidebar">
				{{ partial "navigation.html" . }}
			</div>

			<div id="content">
				{{ block "main" . }}{{ end }}
			</div>

			{{ partial "foot.html" . }}
		</div>
	</body>
</html>
