<ul class="nav">
    {{ with .Site.Params.github }}
    <li><a href="https://github.com/{{ . }}" target="_blank" rel="noopener noreferrer" title="GitHub"><span class="hidden">GitHub</span></a></li>
    {{ end }}
    {{ with .Site.Params.gitlab }}
    <li><a href="https://gitlab.com/u/{{ . }}" target="_blank" rel="noopener noreferrer" title="GitLab"><span class="hidden">GitLab</span></a></li>
    {{ end }}
    {{ with .Site.Params.bitbucket }}
    <li><a href="https://bitbucket.org/{{ . }}" target="_blank" rel="noopener noreferrer" title="Bitbucket"><span class="hidden">Bitbucket</span></a></li>
    {{ end }}
    {{ with .Site.Params.twitter }}
    <li><a href="https://twitter.com/{{ . }}" target="_blank" rel="noopener noreferrer" title="Twitter"><span class="hidden">Twitter</span></a></li>
    {{ end }}
    {{ with .Site.Params.linkedin }}
    <li><a href="https://www.linkedin.com/in/{{ . }}" target="_blank" rel="noopener noreferrer" title="linkedIn"><span class="hidden">LinkedIn</span></a></li>
    {{ end }}
	{{ with .Site.Params.googleplus }}
    <li><a href="https://plus.google.com/{{ . }}" target="_blank" rel="noopener noreferrer" title="Google+"><span class="hidden">Google+</span></a></li>
    {{ end }}
	{{ with .Site.Params.facebook }}
    <li><a href="https://www.facebook.com/{{ . }}" target="_blank" rel="noopener noreferrer" title="Facebook"><span class="hidden">Facebook</span></a></li>
    {{ end }}
	{{ with .Site.Params.instagram }}
    <li><a href="https://www.instagram.com/{{ . }}" target="_blank" rel="noopener noreferrer" title="Instagram"><span class="hidden">Instagram</span></a></li>
    {{ end }}
    {{ with .Site.Params.keybase }}
    <li><a href="https://keybase.io/{{ . }}" target="_blank" rel="noopener noreferrer" title="Keybase"><span class="hidden">Keybase</span></a></li>
    {{ end }}
    {{ with .Site.Params.email }}
	<li><a href="mailto:{{ . }}" target="_blank" rel="noopener noreferrer" title="Email"><span class="hidden">Email</span></a></li>
    {{ end }}
</ul>